[submodule "ocs2"]
	path = ocs2
	url = https://github.com/leggedrobotics/ocs2.git
[submodule "Loco_manipulation_control"]
	path = Loco_manipulation_control
	url = https://github.com/DRCL-USC/Loco_manipulation_control.git
