<launch>
  <arg name="gui" default="false" />
  <arg name="rviz" default="true" />
  <arg name="multiplot" default="true" />
  <arg name="task_name" default="mpc" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"
      value="$(find ocs2_object_manipulation_ros)/launch/worlds/world_with_object.world" />
    <arg name="gui" value="$(arg gui)" />
  </include>

  <group if="$(arg rviz)">
    <include file="$(find ocs2_object_manipulation_ros)/launch/visualize.launch" />
  </group>

  <group if="$(arg multiplot)">
    <include file="$(find ocs2_object_manipulation_ros)/launch/multiplot.launch" />
  </group>

  <node pkg="ocs2_object_manipulation_ros" type="object_mpc" name="object_mpc"
    output="screen" args="$(arg task_name)" launch-prefix="" />

  <node pkg="ocs2_object_manipulation_ros" type="object_mrt" name="object_mrt"
    output="screen" args="$(arg task_name)" launch-prefix="" />

  <node pkg="ocs2_object_manipulation_ros" type="object_manipulation_target"
    name="object_manipulation_target" output="screen" 
    args="$(arg task_name)" launch-prefix="gnome-terminal --" />


</launch>
	