<launch>
  <arg name="gui" default="false" />
  <arg name="rviz" default="true" />
  <arg name="multiplot" default="false" />
  <arg name="task_name" default="mpc" />
  <arg name="record_data" default="false" />
  <arg name="sim" default="true" />

  <group if="$(arg sim)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name"
        value="$(find ocs2_object_manipulation_ros)/launch/worlds/world_with_object.world" />
      <arg name="gui" value="$(arg gui)" />
    </include>
  </group>

  <group if="$(arg rviz)">
    <include file="$(find ocs2_object_manipulation_ros)/launch/visualize.launch" />
  </group>

  <group if="$(arg multiplot)">
    <include file="$(find ocs2_object_manipulation_ros)/launch/multiplot.launch" />
  </group>

  <group if="$(arg record_data)">
    <node pkg="ocs2_object_manipulation_ros" type="bagfile_recorder" name="bagfile_recorder"
      output="screen" launch-prefix="" />
  </group>

  <node pkg="ocs2_object_manipulation_ros" type="object_mpc" name="object_mpc"
    output="screen" args="$(arg task_name)" launch-prefix="" />

  <group if="$(arg sim)">
    <node pkg="ocs2_object_manipulation_ros" type="object_mrt" name="object_mrt"
      output="screen" args="$(arg task_name)" launch-prefix="" />
  </group>

  <group unless="$(arg sim)">
    <include file="$(find ocs2_object_manipulation_ros)/launch/mocap.launch" />
    <node pkg="ocs2_object_manipulation_ros" type="object_mrt" name="object_mrt"
      output="screen" args="$(arg task_name) Mocap" launch-prefix="" />
  </group>

  <node pkg="ocs2_object_manipulation_ros" type="object_manipulation_target"
    name="object_manipulation_target" output="screen"
    args="$(arg task_name)" launch-prefix="gnome-terminal --" />


</launch>
	